.content_box {
  min-height: 100vh;
  background-color: #f3f3f3;
}
.content_box .white {
  border-bottom: 1px solid #e7e7e7;
}
.content_box .white .save {
  position: absolute;
  top: 0;
  right: 0.38rem;
  font-size: 0.28rem;
  line-height: 0.9rem;
  color: #595959;
}
.content_box .white .save.active {
  color: #EA5A3C;
}
.content_box .body_box .list_wrapper {
  padding: 0 0.3rem;
  background-color: #fff;
}
.content_box .body_box .list_wrapper .list {
  position: relative;
  padding: 0.34rem 0;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0;
}
.content_box .body_box .list_wrapper .list span {
  position: absolute;
  right: 0;
  top: 0.4rem;
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: url(../img/rightbig.png) no-repeat;
  background-size: 100% 100%;
}
.content_box .body_box .list_wrapper .list input {
  width: 100%;
  font-size: 0.3rem;
  line-height: 0.4rem;
}
.content_box .body_box .address {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.34rem 0.3rem;
  font-size: 0.3rem;
  line-height: 0.44rem;
  resize: none;
}
.content_box .body_box .default {
  padding: 0.2rem 0.3rem;
  margin-top: 0.22rem;
  font-size: 0;
  background-color: #fff;
}
.content_box .body_box .default .default_text,
.content_box .body_box .default .default_icon {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.content_box .body_box .default .default_text {
  font-size: 0.28rem;
  line-height: 0.54rem;
}
.content_box .body_box .default .default_icon {
  text-align: right;
}
.content_box .body_box .default .default_icon span {
  display: inline-block;
  width: 1.1rem;
  height: 0.54rem;
  background: url(../img/huisedizhi.png) no-repeat;
  background-size: 100% 100%;
}
.content_box .body_box .default .default_icon span.active {
  background: url(../img/moredizhihuad.png) no-repeat;
  background-size: 100% 100%;
}
.content_box .body_box .delete {
  padding: 0.34rem 0.3rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
  color: #EA5A3C;
  background-color: #fff;
  margin-top: 0.1rem;
}