.content_box {
  min-height: 100vh;
  padding: 0.9rem 0 0 0;
}
.content_box .title {
  position: fixed;
  top: 0;
  left: 0;
  height: 0.9rem;
  background: url(../img/Rectangle.png);
  background-size: 100% 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
}
.content_box .title .input {
  width: 5rem;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.78rem;
  overflow: hidden;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.16);
}
.content_box .title .input input {
  background-color: transparent;
  display: block;
  width: 100%;
  font-size: 0.26rem;
  line-height: 0.3rem;
  color: #fff;
  padding: 0;
  border: none;
  height: 0.3rem;
  margin: 0.15rem 0;
  letter-spacing: 0.02rem;
}
.content_box .title .input input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.26rem;
}
.content_box .title .input input:-moz-placeholder {
  color: #fff;
  font-size: 0.26rem;
}
.content_box .title .input input::-moz-placeholder {
  color: #fff;
  font-size: 0.26rem;
}
.content_box .title .input input:-ms-input-placeholder {
  color: #fff;
  font-size: 0.26rem;
}
.content_box .title .input .search_icon {
  position: absolute;
  top: 0.16rem;
  left: 0.27rem;
  display: inline-block;
  width: 0.24rem;
  height: 0.28rem;
  background: url(../img/ss.png);
  background-size: 100% 100%;
}
.content_box .title .screen {
  padding: 0 0.2rem;
  margin-right: 0.1rem;
}
.content_box .title .screen span {
  display: inline-block;
}
.content_box .title .screen .screen_text {
  font-size: 0.3rem;
  color: #fff;
}
.content_box .title .screen .screen_icon {
  width: 0.12rem;
  height: 0.12rem;
  background: url(../img/xiala.png);
  background-size: 100% 100%;
}
.content_box .title .search_btn_box .search_btn {
  display: inline-block;
  line-height: 0.9rem;
  padding: 0 0.2rem;
  color: #FFFFFF;
  font-size: 0.3rem;
}
.content_box .body_box .user_list .user_item {
  padding: 0.3rem 0.2rem;
  border-bottom: 1px solid #EEEEEE;
  background: #FFFFFF;
}
.content_box .body_box .user_list .user_item .img_wrapper {
  float: left;
  width: 1.67rem;
  height: 1.67rem;
  margin-right: 0.2rem;
  background-color: #fff;
}
.content_box .body_box .user_list .user_item .img_wrapper img {
  width: 100%;
  height: 100%;
}
.content_box .body_box .user_list .user_item .text_wrapper {
  overflow: hidden;
}
.content_box .body_box .user_list .user_item .text_wrapper .label {
  margin-right: 0.16rem;
  float: left;
}
.content_box .body_box .user_list .user_item .text_wrapper .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content_box .body_box .user_list .user_item .text_wrapper .name {
  margin-top: 0.06rem;
  font-size: 0;
}
.content_box .body_box .user_list .user_item .text_wrapper .name .label,
.content_box .body_box .user_list .user_item .text_wrapper .name .text {
  font-size: 0.3rem;
  line-height: 0.42rem;
}
.content_box .body_box .user_list .user_item .text_wrapper .info {
  font-size: 0;
  margin-top: 0.2rem;
}
.content_box .body_box .user_list .user_item .text_wrapper .info .label,
.content_box .body_box .user_list .user_item .text_wrapper .info .text {
  font-size: 0.28rem;
  line-height: 0.4rem;
  color: #525252;
}
.content_box .body_box .user_list .user_item .text_wrapper .phone {
  font-size: 0;
  margin-top: 0.2rem;
}
.content_box .body_box .user_list .user_item .text_wrapper .phone .label,
.content_box .body_box .user_list .user_item .text_wrapper .phone .text {
  font-size: 0.24rem;
  line-height: 0.33rem;
  color: #7D7D7D;
}
.content_box .body_box .shop_list_box .shop_list .shop_item {
  background: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  padding: 0.2rem;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_img {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.1rem;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_img img {
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc {
  width: 5rem;
  line-height: 0.5rem;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc .shop_name {
  font-size: 0.34rem;
  color: #333333;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc .shop_id {
  font-size: 0.3rem;
  color: #525252;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc .shop_connect_name {
  font-size: 0.26rem;
  color: #787878;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc .connect_phone {
  font-size: 0.24rem;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc .connect_phone .status {
  color: #EE5E3B;
  font-size: 0.34rem;
}
.content_box .body_box .shop_list_box .shop_list .shop_item .shop_desc .connect_phone .shop_connect_phone {
  color: #7D7D7D;
}
.regional_order_list_box {
  padding-top: 1.9rem;
  box-sizing: border-box;
}
.regional_order_list_box .tabbar {
  position: fixed;
  top: 0.9rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1rem;
  background: #FFFFFF;
  z-index: 10;
  overflow-x: scroll;
}
.regional_order_list_box .tabbar .tab_item {
  min-width: 1.4rem;
  line-height: 1rem;
  background: #FFFFFF;
  font-size: 0.32rem;
  color: #333333;
  text-align: center;
}
.regional_order_list_box .tabbar .tab_item.on {
  color: #F65F52;
  position: relative;
}
.regional_order_list_box .tabbar .tab_item.on:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.3rem;
  width: 0.6rem;
  height: 0.06rem;
  background: #F5633A;
  border-radius: 0.06rem;
}
.regional_order_list_box .body_box {
  font-size: 0.32rem;
}
.regional_order_list_box .body_box .mui-scroll-wrapper {
  top: 1.9rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item {
  background: #fff;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item:not(:last-child) {
  margin-bottom: 0.1rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info {
  height: 2.2rem;
  padding: 0.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .img_box img {
  width: 1.8rem;
  height: 1.8rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info {
  flex: 1;
  width: 3.5rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.1rem;
  line-height: 0.45rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_count {
  font-size: 0.26rem;
  color: #7D7D7D;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_status {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.26rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .address {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.26rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .countdown {
  width: 1.6rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .countdown .time {
  vertical-align: middle;
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  border-radius: 0.1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 0.2rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .countdown .point {
  font-size: 0.2rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .bottom_btns {
  height: 0.9rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  font-size: 0.28rem;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .bottom_btns .b_btn {
  margin-top: 0.15rem;
  width: 1.6rem;
  height: 0.6rem;
  color: #434040;
  border: 1px solid #434040;
  border-radius: 1rem;
  background: #FFFFFF;
}
.regional_order_list_box .body_box .order_list_box .order_list .order_item .bottom_btns .r_btn {
  margin-top: 0.15rem;
  margin-left: 0.2rem;
  width: 1.6rem;
  height: 0.6rem;
  color: #FD4343;
  border: 1px solid #FD4343;
  border-radius: 1rem;
  background: #FFFFFF;
}
