.content_box {
    min-height: 100vh;
    background-color: #f3f3f3;
    position: relative;
    padding-bottom: 1rem;
    .body_box {
        .address {
            display: block;
            padding: 0.2rem;
            background-color: #fff;
            .right_icon {
                float: right;
                margin: 0.22rem 0 0.22rem 0.16rem;
                img {
                    height: 0.32rem;
                }
            }
            .left_icon {
                float: left;
                margin: 0.14rem 0.16rem 0.14rem 0;
                img {
                    height: 0.48rem;
                }
            }
            .content_text {
                overflow: hidden;
                .user_info {
                    font-size: 0;
                    margin-bottom: 0.16rem;
                    span {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 0.26rem;
                        line-height: 0.3rem;
                    }
                    .user_name {
                        margin-right: 0.2rem;
                    }
                }
                .address_text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 0.26rem;
                    line-height: 0.3rem;
                }
            }
        }
        .goods_wrapper {
            padding: 0.2rem;
            .goods {
                border-radius: 0.08rem;
                background-color: #fff;
                .goods_content {
                    padding: 0.3rem;
                    border-bottom: 1px solid #eee;
                    .goods_left {
                        float: left;
                        margin-right: 0.16rem;
                        img {
                            width: 1.4rem;
                            height: 1.4rem;
                        }
                    }
                    .goods_des {
                        overflow: hidden;
                        .goods_title {
                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-break: break-all;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            font-size: 0.28rem;
                            line-height: 0.36rem;
                            height:0.72rem;
                            color: #333;
                            margin: 3px 0 6px 0;
                        }
                        .goods_text {
                            .goods_price {
                                font-size: 0.32rem;
                                line-height: 0.5rem;
                                color: #ef211a;
                            }
                            .goods_num {
                                float: right;
                                font-size: 0;
                                span {
                                    display: inline-block;
                                    vertical-align: top;
                                }
                                .subtract {
                                    width: 0.5rem;
                                    height: 0.5rem;
                                    background: url(../img/jian.png);
                                    background-size: 100% 100%;
                                }
                                .add {
                                    width: 0.5rem;
                                    height: 0.5rem;
                                    background: url(../img/jia.png);
                                    background-size: 100% 100%;
                                }
                                .number {
                                    text-align: center;
                                    width: 0.8rem;
                                    height: 0.5rem;
                                    line-height: 0.5rem;
                                    font-size: 0.28rem;
                                }
                            }
                        }
                    }
                }
                .price {
                    text-align: right;
                    padding: 0.2rem 0.3rem;
                    font-size: 0;
                    div {
                        display: inline-table;
                        vertical-align: top;
                        font-size: 0.28rem;
                        line-height: 0.3rem;
                        margin-right: 0.2rem;
                        &:last-child {
                            margin: 0;
                        }
                        span {
                            color: #EF211A;
                        }
                    }
                }
            }
        }
        .info {
            .label {
                float: left;
                margin-right: 0.2rem;
            }
            .info_text {
                overflow: hidden;
                color: #999;
                input {
                    width: 100%;
                }
            }
            .message {
                margin-bottom: 0.1rem;
                padding: 0.3rem 0.2rem;
                background-color: #fff;
                font-size: 0.28rem;
                line-height: 0.32rem;
            }
            .subtotal {
                padding: 0 0.2rem;
                background-color: #fff;
                .block {
                    padding: 0.3rem 0;
                    border-bottom: 1px solid #eee;
                    font-size: 0.28rem;
                    line-height: 0.32rem;
                    &:last-child {
                        border: none;
                    }
                    .info_text {
                        text-align: right;
                    }
                }
            }
        }
    }
    .foot {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
        .foot_btn {
            padding: 0 0.4rem;
            float: right;
            font-size: 0.32rem;
            line-height: 1rem;
            background-color: #EF211A;
            color: #fff;
        }
        .foot_text {
            background-color: #fff;
            text-align: right;
            overflow: hidden;
            font-size: 0;
            box-sizing: border-box;
            padding-right: 0.5rem;
            span {
                display: inline-block;
                vertical-align: top;
                font-size: 0.3rem;
                line-height: 1rem;
                margin-right: 0.2rem;
                &:last-child {
                    margin: 0;
                    color: #EF211A;
                }
            }
        }
    }
}