.content_box {
  min-height: 100vh;
  background: #F3f3f3;
  box-sizing: border-box;
  padding-top: 1.9rem;
}
.content_box .tabbar {
  position: fixed;
  top: 0.9rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1rem;
  background: #FFFFFF;
  z-index: 10;
}
.content_box .tabbar .tab_item {
  line-height: 1rem;
  background: #FFFFFF;
  flex: 1;
  font-size: 0.32rem;
  color: #333333;
  text-align: center;
}
.content_box .tabbar .tab_item.on {
  color: #F65F52;
  position: relative;
}
.content_box .tabbar .tab_item.on:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.3rem;
  width: 0.6rem;
  height: 0.06rem;
  background: #F5633A;
  border-radius: 0.06rem;
}
.content_box .body_box {
  font-size: 0.32rem;
}
.content_box .body_box .order_list_box .order_list .order_item {
  background: #fff;
}
.content_box .body_box .order_list_box .order_list .order_item:not(:last-child) {
  margin-bottom: 0.1rem;
}
.content_box .body_box .order_list_box .order_list .order_item .ordersn {
  border-bottom: 1px solid #eee;
  line-height: 0.8rem;
  padding: 0 0.2rem;
  font-size: 0.26rem;
  color: #999;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info {
  height: 2.2rem;
  padding: 0.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .img_box img {
  width: 1.8rem;
  height: 1.8rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info {
  width: 3.5rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.1rem;
  line-height: 0.45rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 0.9rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .count {
  font-size: 0.26rem;
  color: #7D7D7D;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .address {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.26rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .left_info {
  width: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .left_info .order_status {
  color: #FD4343;
  letter-spacing: 0.01rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .left_info .countdown .time {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  border-radius: 0.1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 0.22rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .left_info .countdown .point {
  font-size: 0.22rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .left_info .total_price {
  font-size: 0.24rem;
  white-space: nowrap;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .left_info .total_price span {
  font-size: 0.26rem;
}
.content_box .body_box .order_list_box .order_list .order_item .bottom_btns {
  height: 0.9rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  font-size: 0.28rem;
}
.content_box .body_box .order_list_box .order_list .order_item .bottom_btns .b_btn {
  margin-top: 0.15rem;
  width: 1.6rem;
  height: 0.6rem;
  color: #434040;
  border: 1px solid #434040;
  border-radius: 1rem;
  background: #FFFFFF;
}
.content_box .body_box .order_list_box .order_list .order_item .bottom_btns .r_btn {
  margin-top: 0.15rem;
  margin-left: 0.2rem;
  width: 1.6rem;
  height: 0.6rem;
  color: #FD4343;
  border: 1px solid #FD4343;
  border-radius: 1rem;
  background: #FFFFFF;
}
.content_box .merchant_order_list .order_list_box .order_list .order_item .top_info .center_info .count_price {
  font-size: 0.28rem;
}
.content_box .merchant_order_list .order_list_box .order_list .order_item .top_info .center_info .count_price .price {
  padding-left: 0.4rem;
}
.mui-scroll-wrapper {
  top: 1.9rem;
}
