.content_box {
  background: url(../img/point_bg.png) no-repeat;
  background-size: cover;
}
.content_box .head_box {
  background: url(../img/point_bg.png) no-repeat;
  background-size: cover;
}
.content_box .body_box {
  font-size: 0.32rem;
  padding: 0.3rem;
  box-sizing: border-box;
}
.content_box .body_box .available_point {
  height: 4.2rem;
}
.content_box .body_box .available_point .title_box {
  width: 100%;
  height: 2rem;
  background: url(../img/point_text.png) no-repeat center center;
  background-size: 6.15rem 1.1rem;
}
.content_box .body_box .available_point .point_box {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_box .body_box .available_point .point_box .point {
  font-size: 1.1rem;
  margin-right: 0.2rem;
}
.content_box .body_box .available_point .point_box .point_text {
  font-size: 0.5rem;
}
.content_box .body_box .coupon_list_box {
  background: url(../img/point_coupon_bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  position: relative;
}
.content_box .body_box .coupon_list_box .coupon_list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item {
  background: url(../img/coupon_bg.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 2.2rem;
  border-radius: 0.1rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item:not(:last-child) {
  margin-bottom: 0.3rem;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_top {
  box-sizing: border-box;
  height: 1.5rem;
  padding-top: 0.2rem;
  overflow: hidden;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_top .coupon_rule .title {
  color: #f5633a;
  font-size: 0.5rem;
  line-height: 0.8rem;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_top .coupon_value {
  color: #f5633a;
  font-size: 0.36rem;
  height: 100%;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_top .coupon_value span {
  font-size: 0.8rem;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_bottom {
  height: 0.7rem;
  line-height: 0.7rem;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_bottom .point {
  font-size: 0.24rem;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_bottom .change {
  color: #f5633a;
}
.content_box .body_box .coupon_list_box .coupon_list .coupon_item .item_bottom .change .enter_icon {
  display: inline-block;
  width: 0.5rem;
  height: 0.7rem;
  box-sizing: border-box;
  background: url(../img/jinru.png) no-repeat center right;
  background-size: 0.3rem 0.3rem;
}
.content_box .body_box .invite_record {
  background: url(../img/point_record_bg.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 4.7rem;
  box-sizing: border-box;
  border-radius: 0.1rem;
  position: relative;
  padding: 0 0.3rem;
}
.content_box .body_box .invite_record .title {
  text-align: center;
  line-height: 1rem;
}
.content_box .body_box .invite_record .invite_list_box {
  height: 3.7rem;
  position: relative;
  overflow: hidden;
}
.content_box .body_box .invite_record .invite_list_box .invite_list {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.content_box .body_box .invite_record .invite_list_box .invite_list .invite_item {
  display: block;
  width: 100%;
  color: #666;
  box-sizing: border-box;
  font-size: 0.22rem;
  line-height: 0.73rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.01rem;
}
.content_box .body_box .invite_record .invite_list_box .invite_list .invite_item:not(:last-child) {
  border-bottom: 1px solid #C8B392;
}
