.content_box {
  background: #FFFFFF;
  min-height: 100vh;
  padding-top: 0.9rem;
}
.content_box .title {
  height: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  background: #FFFFFF;
}
.content_box .title .input {
  position: relative;
  box-sizing: border-box;
  padding-left: 0.78rem;
  overflow: hidden;
  width: 5rem;
  border-radius: 0.8rem;
  margin: 0.15rem auto;
  background-color: #EFF1F2;
}
.content_box .title .input input {
  background-color: transparent;
  display: block;
  width: 100%;
  font-size: 0.26rem;
  line-height: 0.3rem;
  color: #989898;
  margin: 0.15rem 0;
  padding: 0;
  border: none;
  height: 0.3rem;
  letter-spacing: 0.02rem;
}
.content_box .title .input input::-webkit-input-placeholder {
  font-size: 0.26rem;
}
.content_box .title .input input:-moz-placeholder {
  font-size: 0.26rem;
}
.content_box .title .input input::-moz-placeholder {
  font-size: 0.26rem;
}
.content_box .title .input input:-ms-input-placeholder {
  font-size: 0.26rem;
}
.content_box .title .input .search_icon {
  position: absolute;
  top: 0.17rem;
  left: 0.26rem;
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  background: url(../img/search.png);
  background-size: 100% 100%;
}
.content_box .title .back_icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../img/black_return.png) no-repeat 0.3rem 0.27rem;
  background-size: 0.2rem 0.36rem;
}
.content_box .title .search_text {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  vertical-align: top;
  width: 1.2rem;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.3rem;
  color: #666;
}
.content_box .body_box .history_box {
  display: none;
}
.content_box .body_box .history_box .history {
  padding-left: 0.29rem;
  font-size: 0.26rem;
  line-height: 0.37rem;
  color: #909090;
  margin: 0.35rem 0 0.2rem 0;
}
.content_box .body_box .history_box .content {
  padding-left: 0.22rem;
  font-size: 0;
}
.content_box .body_box .history_box .content span {
  display: inline-block;
  vertical-align: top;
  border-radius: 0.12rem;
  padding: 0.12rem 0.48rem;
  font-size: 0.26rem;
  line-height: 0.36rem;
  color: #3B3B3B;
  background-color: #EBEBEB;
  margin: 0 0.22rem 0.22rem 0;
}
.content_box .body_box .mui-scroll-wrapper {
  top: 0.9rem;
}
.content_box .body_box .order_list_box .order_list .order_item {
  background: #fff;
}
.content_box .body_box .order_list_box .order_list .order_item:not(:last-child) {
  margin-bottom: 0.1rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info {
  height: 2.2rem;
  padding: 0.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .img_box img {
  width: 1.8rem;
  height: 1.8rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info {
  flex: 1;
  width: 3.5rem;
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.1rem;
  line-height: 0.45rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_count {
  font-size: 0.26rem;
  color: #7D7D7D;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_status {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.26rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .address {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.26rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .countdown {
  width: 1.6rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .countdown .time {
  vertical-align: middle;
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  border-radius: 0.1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 0.2rem;
}
.content_box .body_box .order_list_box .order_list .order_item .top_info .center_info .center_address_countdown .countdown .point {
  font-size: 0.2rem;
}
.content_box .body_box .order_list_box .order_list .order_item .bottom_btns {
  height: 0.9rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  font-size: 0.28rem;
}
.content_box .body_box .order_list_box .order_list .order_item .bottom_btns .b_btn {
  margin-top: 0.15rem;
  width: 1.6rem;
  height: 0.6rem;
  color: #434040;
  border: 1px solid #434040;
  border-radius: 1rem;
  background: #FFFFFF;
}
.content_box .body_box .order_list_box .order_list .order_item .bottom_btns .r_btn {
  margin-top: 0.15rem;
  margin-left: 0.2rem;
  width: 1.6rem;
  height: 0.6rem;
  color: #FD4343;
  border: 1px solid #FD4343;
  border-radius: 1rem;
  background: #FFFFFF;
}
